<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Test Source" value="c:\packages" />
    </packageSources>
    <packageSourceCredentials>
        <Test_x0020_Source>
            <add key="Username" value="user" />
            <add key="Password" value="..." />
            <!-- use ClearTextPassword instead of Password if you're using personal access token -->
            <!-- <add key="ClearTextPassword" value="{PAT}" /> -->
        </Test_x0020_Source>
    </packageSourceCredentials>
</configuration>